/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,600;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Parisienne&family=Sriracha&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sriracha", cursive;
}

#head-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 40px;
  background: #ffffff;
  background: radial-gradient(circle, white 0%, #ffb3c3 100%);
}

#head-section .head-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 20px;
}

#head-section .head-container .text {
  visibility: hidden;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 1s ease-in-out, visibility 1.2s ease-in-out;
  transition: opacity 1s ease-in-out, visibility 1.2s ease-in-out;
  gap: 12px;
  padding: 20px;
}

#head-section .head-container .text h1 {
  font-size: 90px;
  font-weight: 800;
  text-align: center;
  line-height: 1;
  color: #FF6673;
  text-shadow: 2px 2px 0px #ffd54d;
}

#head-section .head-container .text h1 span {
  color: #ffd54d;
  text-shadow: 2px 2px 0px #FF6673;
}

#head-section .head-container .text h2 {
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  line-height: 1;
  color: #FF6673;
  text-shadow: 2px 2px 0px #ffd54d;
}

#head-section .head-container .text h2 span {
  color: #ffd54d;
  text-shadow: 2px 2px 0px #FF6673;
}

#head-section .head-container .text.active {
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 600px) {
  #head-section {
    padding: 40px;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #head-section .head-container {
    line-break: 20px;
  }
  #head-section .head-container .text {
    padding: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #head-section .head-container .text h1 {
    font-size: 40px;
    line-height: 1.2;
  }
  #head-section .head-container .text h2 {
    font-size: 25px;
    line-height: 1.2;
  }
}
/*# sourceMappingURL=textanniversary_style.css.map */