@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,600;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Parisienne&family=Sriracha&display=swap');
$primary-color:#FF6673;
$secondary-color:#ffe5ec;
$thrid-color:#ffd54d;
$stroke-color:#89573E;

$text-head:90px;
$text-subhead:60px;
$text-button:22px;


$text-mobilehead:40px;
$text-mobilesubhead:25px;
$text-mobilebutton:14px;

$weight-head:800;
$weight-description:400;
$weight-button:600;

$font-th:"Sriracha", cursive;

html {
    scroll-behavior: smooth;

}

body {
    font-family: 'Poppins', sans-serif;

}



#quiz-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh; /* Full height to demonstrate vertical centering */
    margin: 0 auto;
    padding: 40px;
    background: #ffffff;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 102, 115, 1) 50%, rgba(255, 255, 255, 1) 100%);
    gap: 20px;
    .quiz-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     gap: 10px;   
        img{
        width: 300px;
        }   
        h1{
            font-size: $text-subhead;
            font-weight: $weight-head;
            font-family: $font-th;
            text-align: center;
            color:$secondary-color;
            text-shadow: 2px 2px 0px $primary-color;
        }
        h2{
            font-size: $text-head;
            font-weight: $weight-head;
            text-align: center;
            line-height: 1.2;
            color:$thrid-color;
            text-shadow: 2px 2px 0px $primary-color;
        }
    }

    .quiz-card{
        display: flex;
        // flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
       

        button{
            font-size: $text-button;
            font-weight: $weight-button;
            color: $primary-color;
            width: 220px;
            height: 250px;
            padding: 20px 40px;
            border-radius: 20px;
            border: 2px solid $stroke-color;
            background-color: $secondary-color;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            cursor: pointer;
            gap: 10px;
            img{
                width: 100%;
            }
            
        }
        button:hover{
            color: $primary-color;
            background-color: $thrid-color;
            border: 2px solid $stroke-color;
            box-shadow:0 4px 8px 0 rgba(0,0,0,0.4);
         img{
            width: 110%;
         }
        }
        p{
            font-size: $text-button;
            text-align: center;
            font-weight: $weight-description;
            line-height: 1.2;
            color: $secondary-color;
            margin-top: 40px;
        }
    }
}




@media only screen and (max-width: 600px)
{
    #quiz-section{
        width: 100vw;
        height: 100vh; /* Full height to demonstrate vertical centering */
        padding: 20px;
        .quiz-container{
            gap: 10px;
            
                h1 {
                    font-size: $text-mobilesubhead;
                }
                h2 {
                    font-size: $text-mobilehead;
                }
             
    
        }
        .quiz-card{
            flex-wrap: wrap;
             gap: 10px;
               button {
                  width: 120px;
                  height: 150px;
                    font-size: $text-mobilebutton;
                    padding: 10px;
                    img{
                    width: 80%;
                      } 
                }
                button:hover{
                    img{
                    width: 90%;
                      } 
                }

        }
    }
}