@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,600;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Parisienne&family=Sriracha&display=swap');
$primary-color:#FF6673;
$secondary-color:#ffe5ec;
$thrid-color:#ffd54d;
$stroke-color:#89573E;

$text-head:90px;
$text-subhead:60px;
$text-button:22px;
$text-passcode:32px;

$text-mobilehead:40px;
$text-mobilesubhead:25px;
$text-mobilebutton:14px;

$weight-head:800;
$weight-description:400;
$weight-button:600;


$font-th:"Sriracha", cursive;
$font-eng:'Poppins', sans-serif;


html {
    scroll-behavior: smooth;

}

body {
    font-family: "Sriracha", cursive;
}

.pin-wrapper {
  height: 100vh;   // เต็มความสูงหน้าจอ
  width: 100%;
  background: #ffffff;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 102, 115, 1) 50%, rgba(255, 255, 255, 1) 100%);

  display: flex;
  flex-direction: column;
  justify-content: center; // กึ่งกลางแนวตั้ง
  align-items: center;     // กึ่งกลางแนวนอน

  gap: 10px;
  padding: 40px; // กันชนขอบจอ (mobile-friendly)
  box-sizing: border-box;
  .pin-title {
            font-size: $text-head;
            font-weight: $weight-head;
            text-align: center;
            line-height: 1;
            color:$secondary-color;
            text-shadow: 2px 2px 0px $primary-color;

          span {
            color:$thrid-color;
            text-shadow: 2px 2px 0px $primary-color;
            }
        
        
    }

    .pin-inputs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    input {
        width: 80px;
        height: 100px;
        border-radius: 14px;
        border: 2px solid $stroke-color;
        background-color: $secondary-color;


        font-size: $text-passcode;
        font-weight: 600;
        text-align: center;
        color: $primary-color;
        font-family: $font-eng;

        outline: none;
        caret-color: transparent; // ซ่อน cursor (เหมือนมือถือ)
        transition: all 0.2s ease;

        &:focus {
        border-color: $primary-color;
        box-shadow:0 4px 8px  rgba(0,0,0,0.4);
        transform: translateY(-2px);
        }


    }
    }

    .pin-message {
    min-height: 20px;
    font-size: $text-button;
    font-weight: $weight-button;
    font-family: $font-th;
 
    }

    .pin-error {
    animation: shake 0.4s;
    font-family: $font-th;
    }
    }
    .hint{
      font-size: $text-button;
      text-align: center;
      font-weight: $weight-description;
      line-height: 1.2;
      color: $secondary-color;
      text-shadow: 2px 2px 0px $primary-color;

    }




@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-6px); }
  50% { transform: translateX(6px); }
  75% { transform: translateX(-6px); }
  100% { transform: translateX(0); }
}

@media only screen and (max-width: 600px)
{
   .pin-wrapper{
      padding: 40px;
        .pin-title {
            font-size: $text-mobilehead;
            font-weight: $weight-head;
            text-align: center;
            line-height: 1;
            color:$secondary-color;
            text-shadow: 2px 2px 0px $primary-color;

        span {
            color:$thrid-color;
            text-shadow: 2px 2px 0px $primary-color;
            }

        .pin-message {
            min-height: 20px;
            font-size: $text-mobilebutton;
            font-weight: $weight-button;
            font-family: $font-th;
 
        }

        .pin-error {
        animation: shake 0.4s;
        font-family: $font-th;
        }
            
    }
     .hint{
            font-size: $text-mobilebutton;
        }
        .pin-inputs{
           gap: 5px;
           input{
            font-size: $text-mobilebutton;
            width:40px ;
            height:50px ;
           }
        }
    }
}
