@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,600;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Parisienne&family=Sriracha&display=swap');
$primary-color:#FF6673;
$secondary-color:#ffe5ec;
$thrid-color:#ffd54d;
$stroke-color:#89573E;

$text-head:90px;
$text-subhead:60px;
$text-button:22px;


$text-mobilehead:40px;
$text-mobilesubhead:25px;
$text-mobilebutton:14px;

$weight-head:800;
$weight-description:400;
$weight-button:600;


$font-th:"Sriracha", cursive;

html {
    scroll-behavior: smooth;

}

body {
    font-family: "Sriracha", cursive;
}

#head-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height to demonstrate vertical centering */
    margin: 0 auto;
    padding: 40px;
    position: relative;
    background: #FFFFFF;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 214, 223, 1) 50%, rgba(255, 255, 255, 1) 100%);
    .head-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        transition: opacity 1.2s ease-in-out;  
          gap: 12px;
   
          h1 {
            font-size: $text-head;
            font-weight: $weight-head;
            text-align: center;
            align-items: center;
            line-height: 1;
            color:$primary-color;
            text-shadow: 2px 2px 0px $thrid-color;
            margin-bottom: 20px;
            span {
            color:$thrid-color;
            text-shadow: 2px 2px 0px $primary-color;
            }
          }

          h2 {
            font-size: $text-subhead;
            font-weight: $weight-head;
            text-align: center;
            align-items: center;
            line-height: 1;
            color:$primary-color;
            margin-bottom: 20px;
            text-shadow: 2px 2px 0px $thrid-color;
          span {
            color:$thrid-color;
            text-shadow: 2px 2px 0px $primary-color;
            }
          }

          &.active {
            opacity: 1;
            visibility: visible;
            // position: relative;
            // transform: none;
          }

}
          
       






    }
}
@media only screen and (max-width: 600px)
{
    #head-section{
          padding: 20px;
        .head-container{
          line-break: 20px;
            .text{

              h1 {
                    font-size: $text-mobilehead;
                    line-height: 1.2;
                }
                h2 {
                    font-size: $text-mobilesubhead;
                    line-height: 1.2;

                }
            }
        }
    }
}

