@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,600;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Parisienne&family=Sriracha&display=swap');
$primary-color:#FF6673;
$secondary-color:#ffe5ec;
$thrid-color:#ffd54d;
$stroke-color:#89573E;

$text-head:90px;
$text-subhead:60px;
$text-button:22px;


$text-mobilehead:40px;
$text-mobilesubhead:25px;
$text-mobilebutton:14px;

$weight-head:800;
$weight-description:400;
$weight-button:600;


$font-th:"Sriracha", cursive;
$font-eng:'Poppins', sans-serif;

html {
    scroll-behavior: smooth;

}

body {
    font-family: "Sriracha", cursive;
}

#head-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height to demonstrate vertical centering */
    margin: 0 auto;
    padding: 40px;
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 179, 195, 1) 100%);

    .head-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
        img{
        width: 300px;
        }   
        h1{
            font-size: $text-subhead;
            font-weight: $weight-head;
            text-align: center;
            color:$secondary-color;
            text-shadow: 2px 2px 0px $primary-color;
        }
        h2{
            font-size: $text-head;
            font-weight: $weight-head;
            text-align: center;
            line-height: 1.2;
            color:$primary-color;
            text-shadow: 2px 2px 0px $thrid-color;
            
            span{
                color:$thrid-color;
                text-shadow: 2px 2px 0px $primary-color;

            }
        }
        button{
            font-size: $text-button;
            font-weight: $weight-button;
            font-family: $font-eng;
            color: $secondary-color;

            padding: 20px;
            border-radius: 60px;
            border: 2px solid $stroke-color;
            background-color: $primary-color;

            
            cursor: pointer;

            
        }
        button:hover{
            color: $primary-color;
            background-color: $thrid-color;
            border: 2px solid $stroke-color;
            box-shadow:0 4px 8px 0 rgba(0,0,0,0.4);
        }
        p{
            font-size: $text-button;
            text-align: center;
            font-weight: $weight-description;
            line-height: 1.2;
            color: $secondary-color;

            margin-top: 40px;
        }
    }
}
@media only screen and (max-width: 600px)
{
    #head-section{
            padding: 40px;
        .head-container{
            gap: 10px;
                img{
                    width: 220px;
                 }   
                h1 {
                    font-size: $text-mobilesubhead;
                }
                h2 {
                    font-size: $text-mobilehead;
                }
                button {
                    font-size: $text-mobilebutton;
                    padding: 10px;
                }
                p{
                    font-size: $text-mobilebutton;
                    // position: absolute;
                    // padding: 0px 40px 0px 40px;
                    // bottom: 40px;
                }
        }
    }
}

